{{#with clinicianInfo}}
    <header>
        <div class="topBar">
            <div class="logo">
                <a href=""> 
                    <img src="../res/logo.png" alt="logo">
                </a>
            </div>
            <div>
                <div class="topButton">
                    <a href="/dashboard/{{this._id}}">Dashboard</a>
                </div>
                <div class="topButton">
                    <a href="/{{this._id}}/comment">Comment</a>
                </div>
                <img class = "line" src="/res/Line.png" alt="line">
                <div id="clinicianName">
                    <p>{{this.screen_name}}</p>
                    <div id="sideBar">
                        <img id="triangle" src="/res/triangle.png" alt="triangle" onclick="clickSideBtn()">
                        <div class="sideButton" style="display: none;">
                            <p><a href="/{{this._id}}/newPatient">Create new patient</a></p>
                            {{!-- TODO: href--}}
                            <p><a href="/login">Log out</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div id="dashboard">
            <table>
                <caption>
                    <p id = "tableTitle">Comment</p>
                    <p id="tableTime"></p>
                </caption>
                <thead>
                    <tr class = "tableHeading">
                        <th>Name</th>
                        <th>Data type</th>
                        <th>Value</th>
                        <th>Time</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                {{#each this.patient}}
                    <tr style="{{checkNotRequired this.bloodGlucose this.healthyData_required "0"}};">
                        <td>
                            <a href="/{{this.clinicianID}}/{{this._id}}/patientDetail">
                                {{this.first_name}}
                            </a>
                        </td>
                        <td>Blood Glucose</td>
                        <td style="{{checkSafety this.safety_threshold this.bloodGlucose "0"}}">{{value this.bloodGlucose}}</td>
                        <td>{{getCommentTime this.bloodGlucose}}</td>
                        <td class="comment-td">{{comment this.bloodGlucose}}</td>
                    </tr>
                    <tr style="{{checkNotRequired this.weight this.healthyData_required "1"}}">
                        <td>
                            <a href="/{{this.clinicianID}}/{{this._id}}/patientDetail">
                                {{this.first_name}}
                            </a>
                        </td>
                        <td>Weight</td>
                        <td style="{{checkSafety this.safety_threshold this.weight "1"}}">{{value this.weight}}</td>
                        <td>{{getCommentTime this.weight}}</td>
                        <td class="comment-td">{{comment this.weight}}</td>
                    </tr>
                    <tr style="{{checkNotRequired this.insulinTaken this.healthyData_required "2"}}">
                        <td>
                            <a href="/{{this.clinicianID}}/{{this._id}}/patientDetail">
                                {{this.first_name}}
                            </a>
                        </td>
                        <td>Insulin taken</td>
                        <td style="{{checkSafety this.safety_threshold this.insulinTaken "2"}}">{{value this.insulinTaken}}</td>
                        <td>{{getCommentTime this.insulinTaken}}</td>
                        <td class="comment-td">{{comment this.insulinTaken}}</td>
                    </tr>
                    <tr style="{{checkNotRequired this.exercise this.healthyData_required "3"}}">
                        <td>
                            <a href="/{{this.clinicianID}}/{{this._id}}/patientDetail">
                                {{this.first_name}}
                            </a>
                        </td>
                        <td>Exercise</td>
                        <td style="{{checkSafety this.safety_threshold this.exercise "3"}}">{{value this.exercise}}</td>
                        <td>{{getCommentTime this.exercise}}</td>
                        <td class="comment-td">{{comment this.exercise}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </main>
{{/with}}
<script>
    getCurrentTime()
</script>