<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/patientInfo.css" media=" all" />
    <script src="../js/patientData.js"></script>
    <link rel="icon" type="image/x-icon" href="../res/favicon.ico">
    <title>data</title>
</head>
{{#with patientInfo}}
<body>
    <div class="main">
        <div class="header">
            <div class="logo">
                <a href="Welcome.html" title="logo">
                    <img class="logo" src="../res/logo.png" alt="diabetes">
                </a>
            </div>
            <div class="log-out">
                Log out
            </div>
        </div>
    </div>
    <div class="main-body" id="main-body">
        <div class="information">
            <ul>
                <li class="word-welcome">Welcome:</li>
                
                <li class="user-name">{{this.first_name}}</li>
                <li class="details"> {{this.screen_name}} {{this.last_name}} / {{this.birthday}} </li>
                
            </ul>
        </div>
        <div class="trophies-and-rankings">
            <div class="trophies">
                <img class="trophies-pic" src="../res/trophie.png" alt="trophie">
                <p>84%</p>
            </div>
            <div class="vl"></div>
            <div class="rankings">
                <img class="rankings-pic" src="../res/ranking.png" alt="ranking">
                <p>4th</p>
                <div class="learn-more">Learn more</div>
            </div>
        </div>
        <div class="album">
            Check out my new album!!!
            <!-- <div class="submit">submit</div> -->
            <div class="pen">
                <img class="pen-pic" src="../res/pen.png" alt="pen">
            </div>
        </div>  
        <div class="your-data">
            <P>Your Data:</P>
            <button class="update" id="update-btn" onclick="updateBtnclick()">

                Update +

            </button>
        </div>
        
        <div class="blood-glucose">
            <div class="blood-glucose-words">
                BLOOD GLUCOSE
            </div>
            <div class="blood-glucose-data">
                <p id="blood-glucose-data">No data today</p>
            </div>
            <div class="blood-glucose-arrow">
                <img class="blood-glucose-arrow" src="../res/arrow.png" alt="arrow">
            </div>
        </div>
        <hr class="first-hr">
        <div class="weight">
            <div>
                WEIGHT
            </div>
            <div class="weight-data">
                <P id="weight-data">80.1 &nbsp kg</P>
            </div>
            <div class="weight-arrow">
                <img class="weight-arrow" src="../res/arrow.png" alt="arrow">
            </div>
        </div>
        <hr class="sec-hr">
        <div class="insulin-taken">
            <div class="insulin-taken-word">
                INSULIN TAKEN
            </div>
            <div class="insulin-taken-data">
                <P id="insulin-taken-data">5 &nbsp Doses</P>
            </div>
            <div class="insulin-taken-arrow">
                <img class="insulin-taken-arrow" src="../res/arrow.png" alt="arrow">
            </div>
        </div>
        <hr class="third-hr">
        <div class="exercise">
            <div>
                EXERCISE
            </div>
            <div class="exercise-data">
                <P id="exercise-data">5000 &nbsp Steps</P>
            </div>
            <div class="exercise-arrow">
                <img class="exercise-arrow" src="../res/arrow.png" alt="arrow">
            </div>
        </div>
        <hr class="forth-hr">
    </div>
    
    <div class="date" id="date">
        <div class="date-text">
            <P>Updated on:&nbsp</P>
        </div>
        <div class="date-data">
            <P>2022.2.22&nbsp13:00</P>
        </div>
    </div>
    <div class="text" id="text">
        "Joy is healthy, a happy
        mood is the best secret to be longevity"
    </div>
    <img class="blur" id="blur" src="../res/blur.jpeg" alt="">
    <button type="button" onclick="cancel()"><img class="cancel" id="cancel" src="../res/cancel.jpg" alt=""></button>
    <div class="container" id="container">
        <form action="/data/{{this.screen_name}}" method="post">
            <div class="dialog">
                <p class="insert-data">Enter today's data</p>
                <div class="item">
                    <p>BLOOD GLUCOSE</p>
                    <input name="blood_glucose" id="blood-glucose-input" type="text" placeholder="(nml/L)" />
                    <button type="button"  class="butn" id="butn1" onclick="setCommentWindow()">
                        <p class="comment" id="comment">+ Comment <img class="pen" id="pen" src="../res/pen.png" alt="">
                        </p>
                    </button>
                    <textarea class="text-block" id="text-block" placeholder="Add comments"></textarea>
                    <div class="submit-div" id="submit-div">
                        <button type="button" class="comment-clear" id="comment-clear" onclick="commentClear()">clear</button>
                        <button type="button" class="comment-submit" id="comment-submit" onclick="submit()">submit</button>
                    </div>
                </div>
                <div class="item">
                    <p>Weight</p>
                    <input name="weight" id="weight-input" type="text" placeholder="(Kg)" />
                    <button type="button" class="butn" id="butn2" onclick="setCommentWindow1()">
                        <p class="comment" id="comment1">+ Comment <img class="pen" id="pen1" src="../res/pen.png"
                                alt="">
                        </p>
                    </button>
                    <textarea class="text-block" id="text-block1" placeholder="Add comments"></textarea>
                    <div class="submit-div" id="submit-div1">
                        <button type="button" class="comment-clear" id="comment-clear1" onclick="commentClear1()">clear</button>
                        <button type="button" class="comment-submit" id="comment-submit1" onclick="submit1()">submit</button>
                    </div>
                </div>
                <div class="item">
                    <p>INSULIN TAKEN</p>
                    <input name = "insulin_taken" id="insulin-taken-input" type="text" placeholder="(DOSES)" />
                    <button type="button" class="butn" id="butn3" onclick="setCommentWindow2()">
                        <p class="comment" id="comment2">+ Comment <img class="pen" id="pen2" src="../res/pen.png"
                                alt="">
                        </p>
                    </button>
                    <textarea class="text-block" id="text-block2" placeholder="Add comments"></textarea>
                    <div class="submit-div" id="submit-div2">
                        <button type="button" class="comment-clear" id="comment-clear2" onclick="commentClear2()">clear</button>
                        <button type="button" class="comment-submit" id="comment-submit2" onclick="submit2()">submit</button>
                    </div>
                </div>
                <div class="item">
                    <p>EXERICSE</p>
                    <input name = "exericse" id="exericse-input" type="text" placeholder="(Steps)" />
                    <button type="button" class="butn" id="butn4" onclick="setCommentWindow3()">
                        <p class="comment" id="comment3">+ Comment<img class="pen" id="pen3" src="../res/pen.png"
                                alt="">
                        </p>
                    </button>
                    <textarea class="text-block" id="text-block3" placeholder="Add comments"></textarea>
                    <div class="submit-div" id="submit-div3">
                        <button type="button" class="comment-clear" id="comment-clear3" onclick="commentClear3()">clear</button>
                        <button type="button" class="comment-submit" id="comment-submit3" onclick="submit3()">submit</button>
                    </div>
                </div>
                <div class="update-btn">
                    <button type="submit" onclick="updatePlusClick()">Update +</button>
                </div>
            </div>
        </form>
    </div>
</body>
{{/with}}
<script>
    {{#with patientInfo}}
        var blood_glucose, exericse, insulin_taken, weight;
        {{#each this.healthyData}}
            blood_glucose = "{{this.blood_glucose}}"
            exericse = "{{this.exericse}}"
            insulin_taken = "{{this.insulin_taken}}"
            weight = "{{this.weight}}"
        {{/each}}
        var data = []
        data.push({{ this.healthyData_required }})
        setPatientDataValue(blood_glucose, exericse, insulin_taken, weight, data)

    {{/with}}
</script>

</html>