{{#with patientInfo}}
    <div class="main">
        <div class="header">
            <div class ="logo">
                <img class="logo" src="../../res/logo.png" alt="diabate">
            </div>
        </div>
    </div>
    <div class="main-body" id="main-body">
        <div class="laederboard">
            <div class="leaderboard-header">
                <p>Leaderboard</p>
            </div>
            <div class="leaderboard-rank">
                <img class="leaderboard-pic" src="../../res/leaderboard.png" alt="leaderboard image">
                <div class="rank-first">
                    <p>George</p>
                </div>
                <div class="rank-second">
                    <p>Jack</p>
                </div>
                <div class="rank-third">
                    <p>Kris</p>
                </div>
                <div class="rank-fourth-title">
                    <p>4th.</p>
                </div>
                <div class="rank-fourth">
                    <p>Yeezy</p>
                </div>
                <div class="rank-fifth-title">
                    <p>5th.</p>
                </div>
                <div class="rank-fifth">
                    <p>Xdd</p>
                </div>     
            </div>
            <div class="leaderboard-comment">
                <p>Everyone keep going!</p>
            </div>
            <div class="middle-line"></div>
            <img class="back-icon" src="../../res/back.jpg" alt="back icon">
            <div class="achievement">
                <div class="achievement-header">
                    <p>Achievement</p>
                </div>
                <img class="achievement-image" src="../../res/trophie.png" alt="achievement-image">
                <div class="achievement-word">
                    <p>Your engagement rate is</p>
                </div>
                <div class="achievement-rate">
                    <p>84%</p>
                </div>
                <div class="encourage-word">
                    <p>Good Job!!</p>
                </div>
                </div>
            </div>
        </div>        
    </div>


{{/with}}

<script>
    {{#with patientInfo}}
        var bloodGlucose= "{{this.bloodGlucose}}"
        var weight= "{{this.weight}}"
        var exercise= "{{this.exercise}}"
        var insulinTaken= "{{this.insulinTaken}}"
        let conut = "";
        count = findMaxDataRecorded(bloodGlucose.split(",").length, weight.split(",").length, length,exercise.split(",").length, insulinTaken.split(",").length);
        let maxRate =""
        if(count == "bloodGlucose"){
            maxRate =  "{{findMaxRate this.bloodGlucose}}";
        }else if(count ==  "weight"){
            
        }else if(count == "exercise"){
            
        }else if(count == "insulinTaken"){

        }
        
    {{/with}}
</script>