<link rel="stylesheet" href="/css/passData.css">
<script src="https://code.highcharts.com/highcharts.js"></script>

{{#with patientInfo}}
<div class="main">
    <div class="header">
        <div>
            <img class="logo" src="/res/logo.png" alt="logo">
        </div>
        <a href="/login" class="logout">Log out</a>

    </div>
    <div class="pass-data">
        <div class="title">
            <a href="/data/{{this._id}}"><img class="back" src="/res/back.jpg" alt="backArrow"></a>
            <div class="big-title">Past Seven Days</div>
        </div>
        <ul class="pastData">
            {{#each_upto this.exercise 7}}
            <li>
                <div class="data1">Exercise:&nbsp;<div class="data1-number">{{this.value}}
                    </div> Steps
                </div>
                <p class="date1">{{findLastDate this.time}}</p>
            </li>
            {{/each_upto}}
        </ul>
        <div class="graph">
            <div id="container" ></div>
        </div>    
    </div>
</div>
{{/with}}

<script>
    var time = []
    var value =[]
    {{#with patientInfo}}
        {{#each_upto this.exercise 7}}
            value.push({{this.value}})
            var date = "{{this.time}}".split(" ")[0]
            time.push(date)
        {{/each_upto}}
    {{/with}}
    console.log(value)
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Historical data'
            },
            xAxis: {
                categories: time
            },
            yAxis: {
                title: {
                    text: 'Value'
                }
            },
            series: [{
                data: value
            }]
        });
    });
</script>