{{#with patientInfo}}


        <div class="topBar">
            <div class="logo">
                <a href=""> 
                    <img src="../../res/logo.png" alt="logo">
                </a>
            </div>
            <div>
                <div class="topButton">
                    <a href="/dashboard/{{this.clinicianID}}">Dashboard</a>
                </div>
                <div class="topButton">
                    <a href="">Comment</a>
                    {{!-- TODO: href--}}
                </div>
                <img class = "line" src="../../res/Line.png" alt="line">
                <div id="clinicianName">
                    <p>{{this.clinicianName}}</p>
                    <div id="sideBar">
                        <img id="triangle" src="../../res/triangle.png" alt="triangle" onclick="click_sideBtn()">
                        <div class="sideButton" style="display: none;">
                            <p><a href="/{{this._id}}/newPatient">Create new patient</a></p>
                            {{!-- TODO: href--}}
                            <p><a href="/login">Log out</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <main>
        <div id = "top">
            <div id = "information">
                <p>Patient name:&nbsp<span>{{this.screen_name}}</span></p>
                <p>Age:&nbsp;<span>{{findAge this.birthday}}</span></p>
                <p>Patient ID:&nbsp;<span>{{this.userid}}</span></p>
            </div>
            
            <div id = "supportMessage">
                <textarea placeholder="Add support message..."></textarea>
                <div class = "submit-div">
                    <button>submit</button>
                </div>   
            </div>
        </div>

        <div id = "middle">
            <img class = "line" src = "../../res/horiz_line.png" alt = "line">
            <div class = "button" id = "editButton">
                <a href=""> 
                    <img src="../../res/gear.png" alt="edit">
                </a>
            </div>

            <table>
                <thead>
                    <tr class = "tableHeading">
                        <th>Blood glucose level(nmol/L)</th>
                        <th>Weight(kg)</th>
                        <th>Insulin taken(does)</th>
                        <th>Exercise(steps)</th>
                    </tr>
                </thead>
                
                <tbody class="table-body">
                    {{#each this.data}}
                        <tr >
                            <td style="{{checkSafety1 this.safety_threshold this.bloodGlucoseValue "0"}}">{{this.bloodGlucoseValue}}<span>{{this.bloodGlucoseTime}}</span></td>
                            <td style="{{checkSafety1 this.safety_threshold this.weightValue "1"}}">{{this.weightValue}}<span>{{this.weightTime}}</span></td>
                            <td style="{{checkSafety1 this.safety_threshold this.insulinTakenValue "2"}}">{{this.insulinTakenValue}}<span>{{this.insulinTakenTime}}</span></td>
                            <td style="{{checkSafety1 this.safety_threshold this.exerciseValue "3"}}">{{this.exerciseValue}}<span>{{this.exerciseTime}}</span></td>
                        </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>

        <div id = "bottom">
            <div id = "note">
                <p class = "title">Note</p>
                <img id = "addButton" src = "../../res/add.png" alt = "add">

                <ul>
                    <li>
                        <p class = "time">2022.1.7 13:13:13</p>
                        <p class = "content">The patient has really high blood glucose level, that might due to the food he eat</p>
                        <img class = "line" src = "../../res/horiz_line.png" alt = "line">
                    </li>
                    <li>
                        <p class = "time">2022.2.7 13:13:13</p>
                        <p class = "content">The patient has really high blood glucose level, that might due to the food he eat</p>
                        <img class = "line" src = "../../res/horiz_line.png" alt = "line">
                    </li>
                    <li>
                        <p class = "time">2022.2.7 13:13:13</p>
                        <p class = "content">The patient has really high blood glucose level, that might due to the food he eat</p>
                        <img class = "line" src = "../../res/horiz_line.png" alt = "line">
                    </li>
                    <li>
                        <p class = "time">2022.2.7 13:13:13</p>
                        <p class = "content">The patient has really high blood glucose level, that might due to the food he eat</p>
                        <img class = "line" src = "../../res/horiz_line.png" alt = "line">
                    </li>
                </ul>
            </div>
        </div>
        
    </main>
{{/with}}

<script>

</script>