<script src="/js/updatePatient.js"></script>
{{#with patient}}
    <div class="main">
                <div class="header">
                    <div >
                        <a href="/dashboard/{{id}}">
                            <img class="back" src="/res/back.jpg" alt="">
                        </a>
                        <img class ="logo" src="/res/logo.png" alt="logo">
                    </div>
                </div>
                <div class="body-register">
                    <p class="title">Update patient</p>
                        <ul class="login-info">
                            <li> 
                                <input type="text" class="firstName" id="firstName" placeholder={{this.first_name}} name="first_name_update" readonly> 
                                <input type="text" class="lastName" id="lastName" placeholder={{this.last_name}} name="last_name_update" readonly>
                            </li>
                            <li > <input type="text" class="screenName" id="screenName" placeholder={{this.screen_name}} name="screen_name_update" readonly></li>
                            <li > <input type="text" class="brith" id="brith" placeholder={{this.birthday}} name="birthdayUpdate" readonly></li>
                            <li > <input type="email" class="userId" id="userId" placeholder={{this.userid}} name="useridUpdate" readonly></li>
                            <li > <input type="text" class="password" id="password" placeholder="******" name="passwordUpdate" readonly></li>
                        </ul>
                        <h1 class="required">Required</h1>
                            <h1 class="safety-threhold">Safety thredhold</h1>
                            {{!-- <h1 class="time-series">Time series</h1> --}}
                    {{!-- {{#with id}} --}}
                    <form action="/{{this.clinicianID}}/{{this._id}}/updatePatient" method="post" onsubmit="return updatePatientValidation()">
                            <ul class="data-info">
                                <li> 
                                <p>BLOOD GLUCOSE</p>
                                <input class ="data-check-box" id="bloodGlucoseCheckboxUpdate" type="checkbox" id="" name="bloodGlucoseCheckboxUpdate">
                                <input class = "lower-value" id = "bloodGlucoseLowerValueUpdate" type="any" name="bloodGlucoseLowerValueUpdate" readonly>
                                <p class="sign"> ~ </p>
                                <input class = "upper-value" id = "bloodGlucoseUpperValueUpdate" type="any" name="bloodGlucoseUpperValueUpdate" readonly>
                                <p class="unit" style="font-size: 40px; font-weight: normal;">nmol/L</p>
                                {{!-- <input class = "lower-time-value" id = "bloodGlucoseTimeLowerValue" type="time" name="bloodGlucoseTimeLowerValue" readonly>
                                <p class="timeSign"> ~ </p>
                                <input class = "upper-time-value" id = "bloodGlucoseTimeUpperValue" type="time" name="bloodGlucoseTimeUpperValue" readonly> --}}
                                <!-- <input type="button" value="AM" class="AMbtn" readonly>
                                <p class="AMPMSign" style="font-size: 50px;">/</p>
                                <input type="button" value="PM" class="PMbtn" readonly> -->
                                <hr>
                                </li>
                                <li>
                                    <p>WEIGHT</p>
                                    <input class ="data-check-box" id="weightCheckboxUpdate" type="checkbox" name="weightCheckboxUpdate" >
                                    <input class = "lower-value" id="weightLowerValueUpdate" type="any" name="weightLowerValueUpdate" readonly>
                                    <p class="sign"> ~ </p>
                                    <input class = "upper-value" id="weightUpperValueUpdate" type="any" name="weightUpperValueUpdate" readonly>
                                    <p class="unit" style="font-size: 40px; font-weight: normal;">kg</p>
                                    {{!-- <input class = "lower-time-value" id = "weightTimeLowerValue" type="time" name = "weightTimeLowerValue" readonly>
                                    <p class="timeSign"> ~ </p>
                                    <input class = "upper-time-value" id = "weightTimeUpperValue" type="time" name="weightTimeUpperValue" readonly> --}}
                                    <!-- <input type="button" value="AM" class="AMbtn" readonly>
                                    <p class="AMPMSign" style="font-size: 50px;">/</p>
                                    <input type="button" value="PM" class="PMbtn" readonly> -->
                                    <hr>
                                </li>
                                <li>
                                    <p>INSULIN TAKEN</p>
                                    <input class ="data-check-box" id="insulinTakenCheckboxUpdate" type="checkbox" name="insulinTakenCheckboxUpdate" id="">
                                    <input class = "lower-value" id="insulinTakenLowerValueUpdate" type="any" name="insulinTakenLowerValueUpdate" readonly>
                                    <p class="sign"> ~ </p>
                                    <input class = "upper-value" id="insulinTakenUpperValueUpdate" type="any" name="insulinTakenUpperValueUpdate" readonly>
                                    <p class="unit" style="font-size: 40px; font-weight: normal;">dose(s)</p>
                                    {{!-- <input class = "lower-time-value" id = "insulinTakenTimeLowerValue" type="time" name="insulinTakenTimeLowerValue" readonly>
                                    <p class="timeSign"> ~ </p>
                                    <input class = "upper-time-value" id = "insulinTakenTimeUpperValue" type="time" name="insulinTakenTimeUpperValue" readonly> --}}
                                    <!-- <input type="button" value="AM" class="AMbtn" readonly>
                                    <p class="AMPMSign" style="font-size: 50px;">/</p>
                                    <input type="button" value="PM" class="PMbtn" readonly> -->
                                    <hr>
                                </li>
                                <li>
                                    <p>EXERCISE</p>
                                    <input class ="data-check-box" id="exerciseCheckboxUpdate" type="checkbox" name="exerciseCheckboxUpdate" >
                                    <input class = "lower-value" id="exerciseLowerBalueUpdate" type="any" name="exerciseLowerBalueUpdate" readonly>
                                    <p class="sign"> ~ </p>
                                    <input class = "upper-value" id="exerciseUpperValueUpdate" type="any" name="exerciseUpperValueUpdate" readonly>
                                    <p class="unit" style="font-size: 40px; font-weight: normal;">stpes</p>
                                    {{!-- <input class = "lower-time-value" id = "exerciseTimeLowerValue" type="time" name="exerciseTimeLowerValue" readonly>
                                    <p class="timeSign"> ~ </p>
                                    <input class = "upper-time-value" id = "exerciseTimeUpperValue" type="time" name="exerciseTimeUpperValue" readonly> --}}
                                    <!-- <input type="button" value="AM" class="AMbtn" readonly>
                                    <p class="AMPMSign" style="font-size: 50px;">/</p>
                                    <input type="button" value="PM" class="PMbtn" readonly> -->
                                    <hr>
                                </li>
                            </ul>
                            <div class="create">
                                <button type="submit">Update</button>
                            </div>
                    </form>
                    {{!-- {{/with}} --}}
                </div>
        </div>
    </div>
{{/with}}

<script>
    {{#with patient}}
        var data = []
        data.push({{ this.healthyData_required }})
        var safety=[]
        safety.push("{{ this.safety_threshold  }}")
        setRequired(data,"{{ this.safety_threshold  }}");
    {{/with}}

    {{!-- {{#with id}}
        console.log("{{this}}")
    {{/with}} --}}
</script>
